.elementor-16078 .elementor-element.elementor-element-207d4bc9{margin:0px 0px 20px 0px;}.elementor-16078 .elementor-element.elementor-element-126afc14 .title-after_title, .elementor-16078 .elementor-element.elementor-element-126afc14 .title-subtitle, .elementor-16078 .elementor-element.elementor-element-126afc14 .woodmart-title-container{max-width:540px;}.elementor-16078 .elementor-element.elementor-element-126afc14 > .elementor-widget-container{margin:0px 0px -10px 0px;}.elementor-16078 .elementor-element.elementor-element-40b9025c .wd-text-block{max-width:540px;font-size:15px;line-height:36px;}.elementor-16078 .elementor-element.elementor-element-16e20a58 > .elementor-element-populated{border-style:solid;border-width:0px 1px 0px 0px;border-color:rgba(129,129,129,0.2);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:16px 16px 16px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;padding:20px 40px 10px 10px;}.elementor-16078 .elementor-element.elementor-element-16e20a58 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-16078 .elementor-element.elementor-element-14d9f813 > .elementor-element-populated{padding:20px 10px 10px 40px;}.elementor-16078 .elementor-element.elementor-element-54451cda > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-16078 .elementor-element.elementor-element-678e774a{border-style:solid;border-width:0px 0px 1px 0px;border-color:rgba(129, 129, 129, 0.2);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 30px 0px;}.elementor-16078 .elementor-element.elementor-element-678e774a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-16078 .elementor-element.elementor-element-2c422452 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-16078 .elementor-element.elementor-element-777a90d > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-16078 .elementor-element.elementor-element-12f5d428 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-16078 .elementor-element.elementor-element-3f2ed903 > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-16078 .elementor-element.elementor-element-4e9ff7da .wd-text-block{max-width:392px;font-weight:600;}@media(max-width:1024px) and (min-width:768px){.elementor-16078 .elementor-element.elementor-element-16e20a58{width:100%;}.elementor-16078 .elementor-element.elementor-element-14d9f813{width:100%;}}@media(max-width:1024px){.elementor-16078 .elementor-element.elementor-element-126afc14 .title-after_title, .elementor-16078 .elementor-element.elementor-element-126afc14 .title-subtitle, .elementor-16078 .elementor-element.elementor-element-126afc14 .woodmart-title-container{max-width:370px;}.elementor-16078 .elementor-element.elementor-element-40b9025c .wd-text-block{max-width:470px;font-size:14px;line-height:35px;}.elementor-16078 .elementor-element.elementor-element-16e20a58 > .elementor-element-populated{padding:10px 10px 10px 10px;}.elementor-16078 .elementor-element.elementor-element-14d9f813 > .elementor-element-populated{padding:10px 10px 10px 10px;}}@media(max-width:767px){.elementor-16078 .elementor-element.elementor-element-126afc14 .title-after_title, .elementor-16078 .elementor-element.elementor-element-126afc14 .title-subtitle, .elementor-16078 .elementor-element.elementor-element-126afc14 .woodmart-title-container{max-width:100%;}}/* Start custom CSS for section, class: .elementor-element-207d4bc9 */.elementor-16078 .elementor-element.elementor-element-207d4bc9 {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.elementor-16078 .elementor-element.elementor-element-207d4bc9 .button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: red;
    border: none;
    cursor: pointer;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #38acff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}




span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
}

span a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-75000c3a */.elementor-16078 .elementor-element.elementor-element-75000c3a {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.elementor-16078 .elementor-element.elementor-element-75000c3a .button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: red;
    border: none;
    cursor: pointer;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #38acff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}




span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
}

span a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
}/* End custom CSS */