.elementor-15740 .elementor-element.elementor-element-a42e15c{--display:flex;--background-transition:0.3s;}.elementor-15740 .elementor-element.elementor-element-5184587{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-15740 .elementor-element.elementor-element-604aebe{--display:flex;--background-transition:0.3s;}.elementor-15740 .elementor-element.elementor-element-087e72a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-15740 .elementor-element.elementor-element-6d0354e{--display:flex;--background-transition:0.3s;}/* Start custom CSS for html, class: .elementor-element-a53fe86 */.elementor-15740 .elementor-element.elementor-element-a53fe86 .button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: red;
    border: none;
    cursor: pointer;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #38acff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}




span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
}

span a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-087e72a */.elementor-15740 .elementor-element.elementor-element-087e72a {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.elementor-15740 .elementor-element.elementor-element-087e72a .button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: red;
    border: none;
    cursor: pointer;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #38acff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}




span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
}

span a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
}/* End custom CSS */